// $backgroundColor: #fff;
// $textColor: #111;
// $darkTextColor: #333;
// $hoverBackgroundColor: rgba(200,200,200,0.3);
// $hoverTextColor: #000;
// $cardBackgroundColor: #fff;
// $borderColor: #ddd;
// $activeBackgroundColor: #ddd;
// $activeTextColor: #111;

$backgroundColor: #223;
$textColor: #e0e0e0;
$darkTextColor: #999;
$hoverBackgroundColor: rgba(200,200,200,0.1);
$hoverTextColor: #fff;
$cardBackgroundColor: #334;
$borderColor: #555;
$activeBackgroundColor: rgba(200,200,200,0.2);
$activeTextColor: #fff;