$backgroundColor: #fff;
$textColor: #111;
$darkTextColor: #333;
$hoverBackgroundColor: #ddd;
$hoverTextColor: #000;
$cardBackgroundColor: #fff;
$borderColor: #ddd;
$activeBackgroundColor: #ddd;
$activeTextColor: #111;