$backgroundColor: #223;
$textColor: #e0e0e0;
$darkTextColor: #999;
$hoverBackgroundColor: rgba(200,200,200,0.1);
$hoverTextColor: #fff;
$cardBackgroundColor: #445;
$borderColor: #555;
$activeBackgroundColor: rgba(200,200,200,0.2);
$activeTextColor: #fff;